@charset "UTF-8";
/* CSS baseado na análise da imagem */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: url(../img/background.jpg) no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

h2 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 22px;
  font-weight: bold;
  padding-top: 8px;
}

h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-top: 6px;
}

h4 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
  padding-top: 4px;
}

.header {
  padding: 30px 0;
  background: rgba(204, 204, 204, 0.9);
}
.header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .header .content {
    flex-direction: column;
    gap: 20px;
  }
}
.header .logo {
  mix-blend-mode: multiply;
}
.header .busca {
  align-items: center;
}
.header .busca input {
  border: 1px solid #cccccc;
  border-radius: 0 !important;
}
.header .busca input:focus {
  box-shadow: none;
}
.header .busca .btn {
  border-radius: 0 !important;
  border: 1px solid #cccccc;
  background: #d2dae1;
}
.header .busca .btn i {
  color: #788288;
}
.header .busca .link-translate {
  margin-left: 4px;
  font-size: 14px;
}

.conteudo {
  margin: 20px 0;
  flex: 1;
}
.conteudo .container {
  padding: 30px;
  background: #fff;
}
.conteudo a {
  color: #1b4a73;
}

.navbar {
  margin: 0;
  padding: 0;
}
.navbar .navbar-nav .nav-link {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 18px;
  padding: 17px 20px !important;
  border-right: 1px solid #ccc;
  border-left: 1px solid #fff;
}
.navbar .navbar-nav .nav-link:hover {
  color: #1b4a73;
}
@media screen and (min-width: 768px) {
  .navbar .dropdown-menu {
    width: 250px;
  }
}
.navbar .dropdown-menu .dropdown-item {
  white-space: normal;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 18px;
}

.titulo {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 24px;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
  margin-bottom: 30px;
}

.itens {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}
.itens .item {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 20px;
  border: none;
}
.itens .item h5 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 32px;
  font-weight: normal;
}
.itens .item .btn {
  border-radius: 0px;
  background-color: #000;
  border: none;
  transition: all 0.3s ease-in-out;
  color: #fff;
}
.itens .item .btn:hover {
  background-color: #000;
  transform: scale(1.05);
}
@media screen and (max-width: 768px) {
  .itens .item {
    grid-template-columns: 1fr;
  }
  .itens .item .card-body {
    padding: 0;
  }
}
.itens .pesquisador {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
.itens .pesquisador p {
  margin: 0;
  margin-bottom: 5px;
}

.menuMobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}
.menuMobile p {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .menuMobile {
    display: none;
  }
}

.pagination {
  gap: 8px;
}
.pagination .page-item:not(:first-child) .page-link {
  border-radius: 5px !important;
}
.pagination .page-item:first-child .page-link {
  border-radius: 5px !important;
}

.linguagens {
  min-width: auto;
}
.linguagens li a img {
  width: 20px;
}

.selectedLanguage img {
  width: 20px;
}

.btnLinguagens {
  margin-left: 10px;
}

.language-option {
  font-size: 22px;
}

.relacionados {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}
.relacionados .btnRelacionados {
  border-radius: 0px;
  background-color: #000;
  border: none;
  transition: all 0.3s ease-in-out;
  color: #fff;
  padding: 8px 20px;
  text-decoration: none;
  display: inline-block;
}
.relacionados .btnRelacionados:hover {
  background-color: #000;
  transform: scale(1.05);
}

.footer-wrapper {
  background-color: #18355E;
  padding: 40px 0 0 0;
  color: #fff;
  box-shadow: 1px -5px 15px 0px rgba(255, 255, 255, 0.1);
}
.footer-wrapper p {
  margin: 0;
  font-size: 11px;
  color: #fff;
}
.footer-wrapper a {
  text-decoration: none;
  color: #3ca4ff;
}

.footer-redes {
  background-color: rgba(0, 0, 0, 0.15);
  padding: 15px 0;
}
.footer-redes .container .row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer-redes .redes {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.footer-redes .redes a {
  width: 40px;
  height: 40px;
  background-color: #323232;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 0;
  font-size: 21px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.footer-redes .redes a:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 768px) {
  .footer-redes .redes {
    justify-content: center;
    margin-top: 10px;
  }
}

.calendario {
  border-radius: 10px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.fc {
  border: none;
}

.fc-toolbar {
  background: none;
  border: none;
}

.fc-event {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 0.85em;
}

.fc .fc-daygrid-day-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fc .fc-bg-event {
  border-radius: 10px;
  opacity: 1;
  background: #a4caeb;
  cursor: pointer;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: #efefef;
  border-radius: 10px;
}
.fc .fc-daygrid-day.fc-day-today a {
  color: #1b4a73 !important;
}

.fc .fc-daygrid-day-number,
.fc .fc-col-header-cell-cushion {
  text-decoration: none;
}

.fc .fc-daygrid-day-top {
  justify-content: center;
  align-items: center;
}

.fc .fc-day-other .fc-daygrid-day-top {
  z-index: 10;
  pointer-events: none;
}

.fc .fc-daygrid-day-number {
  text-align: center;
  float: none !important;
  pointer-events: none;
}

.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
  min-height: auto !important;
}

.fc .fc-toolbar-title {
  font-size: 20px;
}

.fc .fc-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background-color: #fff;
  border-radius: 12px;
  width: 2.5rem;
  height: 2.5rem;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25), 0 0 10px 0 rgba(0, 0, 0, 0.15);
}
.fc .fc-button:hover, .fc .fc-button:focus {
  background-color: rgba(0, 0, 0, 0.15);
}

.fc .fc-button .fc-icon {
  color: #000;
}

.fc-daygrid-event-dot {
  background-color: #007bff;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  display: inline-block;
  margin-right: 5px;
}

.fc-daygrid-event {
  color: transparent; /* esconde o texto */
  background-color: transparent; /* remove fundo */
}

.fc .fc-bg-event .fc-event-title {
  display: none;
}

/*# sourceMappingURL=style.css.map */
