/* CSS baseado na análise da imagem */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: url(../img/background.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

h2 {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 22px;
    font-weight: bold;
    padding-top: 8px;
}

h3 {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-top: 6px;
}

h4 {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: bold;
    padding-top: 4px;
}

.header {
    padding: 30px 0;
    background: rgba(204, 204, 204, 0.9);
    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            gap: 20px;
        }
    }
    .logo {
        mix-blend-mode: multiply;
    }
    .busca {
        align-items: center;
        input {
            border: 1px solid #cccccc;
            border-radius: 0 !important;
            &:focus {
                box-shadow: none;
            }
        }
        .btn {
            border-radius: 0 !important;
            border: 1px solid #cccccc;
            background: #d2dae1;
            i {
                color: #788288;
            }
        }
        .link-translate {
            margin-left: 4px;
            font-size: 14px;
        }
    }
}

.conteudo {
    margin: 20px 0;
    flex: 1;
    .container {
        padding: 30px;
        background: #fff;
    }
    a {
        color: #1b4a73;
    }
}

.navbar {
    margin: 0;
    padding: 0;

    .navbar-nav .nav-link {
        font-family: "Barlow Condensed", sans-serif;
        font-size: 18px;
        padding: 17px 20px !important;
        border-right: 1px solid #ccc;
        border-left: 1px solid #fff;
        &:hover {
            color: #1b4a73;
        }
    }

    .dropdown-menu {
        @media screen and (min-width: 768px) {
            width: 250px;
        }

        .dropdown-item {
            white-space: normal;
            font-family: "Barlow Condensed", sans-serif;
            font-size: 18px;
        }
    }
}

.titulo {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 24px;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    margin-bottom: 30px;
}

.itens {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    .item {
        display: grid;
        grid-template-columns: 200px 1fr;
        gap: 20px;
        border: none;
        h5 {
            font-family: "Barlow Condensed", sans-serif;
            font-size: 32px;
            font-weight: normal;
        }
        .btn {
            border-radius: 0px;
            background-color: #000;
            border: none;
            transition: all 0.3s ease-in-out;
            color: #fff;
            &:hover {
                background-color: #000;
                transform: scale(1.05);
            }
        }
        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
            // img {
            //     width: auto;
            // }
            .card-body {
                padding: 0;
            }
        }
    }
    .pesquisador {
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        p {
            margin: 0;
            margin-bottom: 5px;
        }
    }
}

.menuMobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    p {
        margin: 0;
    }
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.pagination {
    gap: 8px;
    .page-item:not(:first-child) .page-link {
        border-radius: 5px !important;
    }

    .page-item:first-child .page-link {
        border-radius: 5px !important;
    }
}

.linguagens {
    min-width: auto;
    li{
        a{
            img{
                width: 20px;
            }
        }
    }
}
.selectedLanguage{
    img{
        width: 20px;
    }
}

.btnLinguagens {
    margin-left: 10px;
}
.language-option {
    font-size: 22px;
}

.relacionados{
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    .btnRelacionados{
        border-radius: 0px;
        background-color: #000;
        border: none;
        transition: all 0.3s ease-in-out;
        color: #fff;
        padding: 8px 20px;
        text-decoration: none;
        display: inline-block;
        &:hover {
            background-color: #000;
            transform: scale(1.05);
        }
    }
}


.footer-wrapper {
    background-color: #18355E;
    padding: 40px 0 0 0 ;
    color: #fff;
    box-shadow: 1px -5px 15px 0px rgba(255,255,255,0.1);
    p {
        margin: 0;
        font-size: 11px;
        color: #fff;
    }
    
    
    a {
        text-decoration: none;
        color: #3ca4ff;
    }
}
.footer-redes{
    background-color: rgba(0, 0, 0, 0.15);
    padding: 15px 0;
    .container{
        .row{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
    }
    .redes {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        a{
            width: 40px;
            height: 40px;
            background-color: #323232;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 0 0 0;
            font-size: 21px;
            color: #fff;
            cursor: pointer;
            text-align: center;
            transition: all 0.3s ease-in-out;
            &:hover{
                transform: scale(1.1);
            }
        }
        @media screen and (max-width: 768px) {
            justify-content: center;
            margin-top: 10px;
            
        }
    }
}