{% load menu_tags menu_tags_tema %}

{% for item in menu_items %}
    <li class="nav-item {% if item.children.exists %} dropdown{% endif %}">
        <a href="{{ item.get_link|default:'#' }}"
           class="nav-link {% if item|is_active:request %}active{% endif %}
           {% if item.children.exists %} dropdown-toggle{% endif %}"
           {% if item.children.exists %} data-bs-toggle="dropdown" {% endif %}>
            {{ item.name }}
        </a>
        {% if item.children.exists %}
            <ul class="dropdown-menu">
                {% render_menu item %}
            </ul>
        {% endif %}
    </li>
{% endfor %}