{% extends 'base.html' %}
{% load menu_tags cms_tags static %}

{% block title %}{{ article.title }} - {% endblock %}
{% block ogtitle %}{{ article.title }} - {% endblock %}

{% block description %}{{ article.content|striptags|truncatewords:20|safe }}{% endblock %}
{% block ogdescription %}{{ article.content|striptags|truncatewords:20|safe }}{% endblock %}

{% block keywords %}
    {% for section in article.get_sections %}
        {% if section.keywords %}
            {{ section.keywords }},
        {% endif %}
    {% endfor %}
    {% if article.keywords %}
        {{ article.keywords }}
    {% endif %}
{% endblock %}

{% block content %}

<main class="conteudo">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="titulo">{{ article.title }}</h2>
          {{ article.content|safe }}
          {% if article.related %}
            <div class="relacionados">
              <a href="{{article.related}}" class="btnRelacionados">Artigos relacionados</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </main>

{% endblock %}