{% extends 'base.html' %}

{% load static %}

{% load menu_tags cms_tags thumbnail static %}

{% block title %}{{ section.title }} - {% endblock %}
{% block ogtitle %}{{ section.title }} - {% endblock %}

{% block description %}{{ section.header|striptags|truncatewords:20|safe }}{% endblock %}
{% block ogdescription %}{{ section.header|striptags|truncatewords:20|safe }}{% endblock %}

{% block keywords %}
    {{ section.keywords }}
{% endblock %}
{% block styles %}

{% endblock %}

{% block content %}

{% get_dataset slug=section.slug as pesquisadores %}

<main class="conteudo">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="titulo">
          {{section.header|safe}}
        </h2>
        <div class="row itens">
          {% for pesquisador in pesquisadores %}
            <div class="col-md-12">
              <div class="card item pesquisador">
                <img src="{{ pesquisador.url_foto }}" alt="{{ pesquisador.nome|default:'' }}" style="width: 200px; height: 200px; object-fit: cover; border-radius: 8px;" />
                <div class="card-body">
                  <h5 class="card-title">{{pesquisador.nome|default:""}}</h5>
                  {% if pesquisador.id_cnpq %}<a href="http://lattes.cnpq.br/{{pesquisador.id_cnpq}}">Lattes</a>{% endif %}
                  {% if pesquisador.orcid %}<a href="https://orcid.org/{{pesquisador.orcid}}">ORCID</a>{% endif %}
                  {% if pesquisador.tipo %} <p>Professor {{pesquisador.tipo}}</p> {% endif%}
                  <p>
                    {{pesquisador.mini_bio|default:""}}
                  </p>
                </div>
              </div>
            </div>
          {% endfor %}          
        </div>        
      </div>
    </div>
  </div>
</main>

{% endblock %}