{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="conteudo">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="titulo">Chamada PDSE – Capes</h2>
          <p>
            Convocamos os doutorandos de 2023.1 e 2024.1 para participação no
            edital PDSE Capes.
          </p>

          <p>
            Informamos que a comissão para análise e indicação de candidatos à
            bolsa de doutorado sanduíche referente à chamada Capes – EDITAL Nº
            26/2024 – PROGRAMA INSTITUCIONAL DE DOUTORADO SANDUÍCHE NO
            EXTERIOR (PDSE) será, composta pelos docentes, Fábio Castro
            Gouveia (coordenador do curso) ou seu substituto Paulo Cesar
            Castro (vice-coordenador), dois membros representante da comissão
            de bolsas ou CD (Jacqueline Leta, Gilda Olinto, Marco Schneider,
            Lillian Alvares, Luciane Beckman, Naira Silveira ou um docente
            indicado pela comissão em caso de impedimento), um membro externo
            indicado pela CD e um representante discente, preferencialmente o
            da comissão de bolsas devendo sempre ser um doutorando.<br />&lt;<a
              href="https://www.gov.br/capes/pt-br/acesso-a-informacao/acoes-e-programas/bolsas/bolsas-e-auxilios-internacionais/encontre-aqui/paises/multinacional/programa-de-doutorado-sanduiche-no-exterior-pdse"
              target="_blank"
              rel="noreferrer noopener"
              >https://www.gov.br/capes/pt-br/acesso-a-informacao/acoes-e-programas/bolsas/bolsas-e-auxilios-internacionais/encontre-aqui/paises/multinacional/programa-de-doutorado-sanduiche-no-exterior-pdse</a
            >&gt;
          </p>

          <p>
            As propostas devem ser encaminhadas pelos discentes até às 12h00
            de segunda-feira, dia 09/12/2024.
          </p>

          <p>
            Os candidatos devem enviar para o e-mail &nbsp;&lt;<a
              href="mailto:coordenacaoppgci@eco.ufrj.br"
              target="_blank"
              rel="noreferrer noopener"
              >coordenacaoppgci@eco.ufrj.br</a
            >&gt;, com cópia para seu orientador, o histórico (que não pode
            ter pendências), uma versão em PDF do CV Lattes, e uma breve carta
            onde justifica o pedido com indicação do possível orientador
            estrangeiro, instituição e o país para onde pretende solicitar a
            bolsa. Deve constar da justificativa que o candidato verificou que
            pode cumprir as exigências do edital e que conta com a anuência de
            seu orientador e co-orientador (se houver). O orientador deve
            responder o email dando anuência da candidatura, ou ter assinado
            eletronicamente a carta justificativa. Tudo deve ocorrer até as
            12h00 de segunda-feira, dia 09/12/2024.
          </p>

          <p>
            Serão priorizados os candidatos com maior pontuação por
            publicações em periódicos pelo Qualis 2017-2020 e com peso
            atribuído baseado no processo de avaliação Capes para
            Pós-Graduação.
          </p>

          <p>
            Havendo empate, o segundo critério será o de trabalhos completos
            no Enancib e ISKO, seguido pelos livros, capítulos de livros,
            eventos internacionais e depois os nacionais. Em seguida serão
            considerados os resumos expandidos na mesma sequência. Ainda
            persistindo o empate o critério será o de ações afirmativas (nos
            mesmos critérios utilizados na última seleção de doutorado de
            mestrado, sendo necessário indicar isto na carta de justificativa)
            seguido pela idade, sendo priorizado o aluno mais velho.
          </p>

          <p>
            Não poderão compor a banca docentes ou discentes que estejam
            concorrendo a esta chamada.
          </p>

          <p>
            O resultado será validado de forma assíncrona por e-mail pelos
            membros do colegiado.
          </p>

          <p>
            O prazo final para definição no programa é 13/12/2024, por isso a
            urgência.
          </p>

          <p>
            É importante salientar que o Edital exigirá os seguintes
            documentos listados abaixo que precisam estar prontos para
            encaminhamento assim que o resultado seja promulgado. Na
            eventualidade do discente aprovado não conseguir cumprir com estas
            demandas o discente classificado na posição seguinte será
            convocado.
          </p>

          <p>
            “I – Plano de pesquisa a ser realizado no exterior, com indicação
            da existência de Edital 26/2024 (2472849) SEI 23038.003930/2024-79
            / pg. 6 infraestrutura na instituição de destino que viabilize a
            execução do trabalho proposto e do cronograma das atividades,
            formalmente aprovados pelo orientador brasileiro e pelo
            coorientador no exterior;<br />II – Currículo Lattes
            atualizado;<br />III – Carta do orientador brasileiro, devidamente
            assinada e em papel timbrado da instituição de origem,
            justificando a necessidade do estágio e demonstrando interação
            técnico-científico com o coorientador no exterior para o
            desenvolvimento das atividades propostas. Deve informar o prazo
            regulamentar do aluno para defesa da tese e que os créditos já
            obtidos no doutorado são compatíveis com a perspectiva de
            conclusão em tempo hábil, após a realização do estágio no
            exterior;<br />IV – Declaração do coorientador no exterior,
            devidamente assinada e em papel timbrado da instituição,
            informando o mês/ano de início e término do estágio no exterior,
            conforme modelo constante no Anexo V.<br />V – Declaração de
            reconhecimento de fluência linguística assinada pelo coorientador
            no exterior conforme modelo disponível no Anexo II;<br />VI –
            Declaração de reconhecimento de fluência linguística assinada pelo
            orientador no Brasil, conforme modelo disponível no Anexo III;<br />VII
            – Currículo resumido do coorientador no exterior, o qual deve ter
            produção científica e/ou tecnológica compatível e ter no mínimo a
            titulação de doutor.”
          </p>

          <p>Além disso é exigido do candidato:</p>

          <p>
            “- Ser brasileiro nato ou naturalizado ou estrangeiro com
            autorização de residência no Brasil ou antigo visto permanente;<br />–
            Não possuir título de doutor em qualquer área do conhecimento no
            momento da inscrição;<br />– Estar regularmente matriculado em
            curso de doutorado da UFRJ, com nota igual ou superior a 04
            (quatro) na última avaliação quadrienal da CAPES;<br />– Não
            acumular a bolsa no exterior com outros benefícios financeiros
            para a mesma finalidade de órgãos ou entidades da administração
            pública federal, estadual ou municipal, de agência estrangeira, ou
            ainda salário no país de destino, devendo o candidato declarar a
            recepção de outras bolsas. Na ocasião de aprovação da bolsa,
            requerer a suspensão ou cancelamento do benefício preexistente, de
            modo que não haja acúmulo de benefícios durante o período de
            estudos no exterior;<br />– Não ter sido contemplado com bolsa de
            Doutorado Sanduíche no Exterior neste ou em outro curso de
            doutorado realizado anteriormente;<br />– Não ultrapassar o
            período total do doutorado, de acordo com o prazo regulamentar do
            curso para defesa da tese, devendo o tempo de permanência no
            exterior ser previsto de modo a restarem, no mínimo, 06 (seis)
            meses no Brasil para a integralização de créditos e a defesa da
            tese. Vale lembrar que, além disso, caso o candidato seja bolsista
            no Brasil, seu prazo de bolsa deverá ser compatível com o período
            total de 48 meses, considerando a bolsa de doutorado sanduíche no
            exterior;<br />– Ter integralizado o número de créditos referentes
            ao programa de doutorado no Brasil que seja compatível com a
            perspectiva de conclusão do curso, em tempo hábil, após a
            realização das atividades no exterior;<br />– Ter obtido aprovação
            no exame de qualificação ou ter cursado, pelo menos, o primeiro
            ano do doutorado, com comprovação no Histórico Escolar emitido
            pelo SIGA;<br />– Possuir identificador ORCID (Open Researcher and
            Contributor ID) válido no ato da inscrição. O registro é gratuito
            e pode ser realizado no site&nbsp;<a
              href="https://orcid.org/"
              target="_blank"
              rel="noreferrer noopener"
              >https://orcid.org/</a
            >;<br />– O candidato deverá comprovar o nível de proficiência na
            língua estrangeira conforme previsto no Edital da chamada
            vigente.”
          </p>

          <p>
            Alguns desses itens serão verificados por intermédio do histórico
            e do Lattes encaminhado, portanto recomendamos atenção para que
            ambos os documentos estejam atualizados.
          </p>

          <p>Calendário:</p>

          <p>
            Inscrições: Até as 12h00 do dia 09/12/2024<br />Homologação: Até
            as 18h00 do dia 09/12/2024<br />Recursos da Homologação: até as
            18h00 do dia 10/12/2024<br />Resultado final da Homologação: até
            as 12h00 do dia 11/12/2024<br />Resultado Preliminar da Avaliação:
            até as 18h00 do dia 13/12/2024<br />Recursos ao Resultado
            Preliminar: até as 18h00 do dia 14/12/2024<br />Resultado Final:
            até as 12h00 do dia 16/12/2024
          </p>
        </div>
      </div>
    </div>
  </main>

{% endblock %}