{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="conteudo">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="titulo">
            Linha 1: Comunicação, Organização e Gestão da Informação e do
            Conhecimento
          </h2>
          <div class="row itens">
            <div class="col-md-12">
              <div class="card item pesquisador">
                <img src="img/angelica.png" class="" alt="Angelica" />
                <div class="card-body">
                  <h5 class="card-title">Angelica Alves da Cunha Marques</h5>
                  <p>Professor Permanente</p>
                  <p>
                    <strong>Áreas de Interesse:</strong> Arquivologia e
                    Ciência da Informação: trajetórias
                    histórico-epistemológicas de internacionalização e
                    institucionalização
                  </p>
                  <p><strong>Email:</strong> angelicacunha@unb.br</p>
                  <p>
                    <strong>Currículo e ouros links:</strong> Currículo Lattes
                    | Linkedin
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="card item pesquisador">
                <img src="img/clovis.png" class="" alt="Angelica" />
                <div class="card-body">
                  <h5 class="card-title">
                    Clóvis Ricardo Montenegro de Lima
                  </h5>
                  <p>Professor Permanente</p>
                  <p>
                    <strong>Áreas de Interesse:</strong> Arquivologia e
                    Ciência da Informação: trajetórias
                    histórico-epistemológicas de internacionalização e
                    institucionalização
                  </p>
                  <p><strong>Email:</strong> angelicacunha@unb.br</p>
                  <p>
                    <strong>Currículo e ouros links:</strong> Currículo Lattes
                    | Linkedin
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="card item pesquisador">
                <img src="img/eloisa.png" class="" alt="Angelica" />
                <div class="card-body">
                  <h5 class="card-title">
                    Eloisa da Conceição Príncipe de Oliveira
                  </h5>
                  <p>Professor Permanente</p>
                  <p>
                    <strong>Áreas de Interesse:</strong> Arquivologia e
                    Ciência da Informação: trajetórias
                    histórico-epistemológicas de internacionalização e
                    institucionalização
                  </p>
                  <p><strong>Email:</strong> angelicacunha@unb.br</p>
                  <p>
                    <strong>Currículo e ouros links:</strong> Currículo Lattes
                    | Linkedin
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="card item pesquisador">
                <img src="img/fabio.png" class="" alt="Angelica" />
                <div class="card-body">
                  <h5 class="card-title">Fabio Castro Gouveia</h5>
                  <p>Professor Permanente</p>
                  <p>
                    <strong>Áreas de Interesse:</strong> Arquivologia e
                    Ciência da Informação: trajetórias
                    histórico-epistemológicas de internacionalização e
                    institucionalização
                  </p>
                  <p><strong>Email:</strong> angelicacunha@unb.br</p>
                  <p>
                    <strong>Currículo e ouros links:</strong> Currículo Lattes
                    | Linkedin
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="card item pesquisador">
                <img src="img/gustavo.png" class="" alt="Angelica" />
                <div class="card-body">
                  <h5 class="card-title">
                    Gustavo Henrique de Araújo Freire
                  </h5>
                  <p>Professor Permanente</p>
                  <p>
                    <strong>Áreas de Interesse:</strong> Arquivologia e
                    Ciência da Informação: trajetórias
                    histórico-epistemológicas de internacionalização e
                    institucionalização
                  </p>
                  <p><strong>Email:</strong> angelicacunha@unb.br</p>
                  <p>
                    <strong>Currículo e ouros links:</strong> Currículo Lattes
                    | Linkedin
                  </p>
                </div>
              </div>
            </div>
          </div>

          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center mt-4">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </main>

{% endblock %}